/* _________________________________________________
// -------------------  PROJECT  -------------------
// ------------------------------------------------- */

/* --------  Defaults  -------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/*Imported fonts of open sans
  Light 300
  Light 300 Italic
  Regular 400
  Regular 400 Italic
  Medium 500
  Medium 500 Italic
  SemiBold 600 Italic
  Bold 700
  Bold 700 Italic
  ExtraBold 800
  ExtraBold 800 Italic
  ----------------------
  IN USE:
  400
*/



*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}









/* --------  Search Bar  -------- */
#search-bar {
  width: 80%;
  display: block;
  margin: 30px auto 0 auto;
  padding: 6px 8px 8px 8px;
  border: 2px solid #d3d3d3;
  border-radius: 6px;
  font-size: 0.95em;
  font-weight: 400;
  line-height: 1;
  color: #808080;
}










/* --------  Image Gallery  -------- */
#wrapper {
  width: 80%;
  margin: 30px auto 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.img-item {
  display: inline-block;
  line-height: 0;
  margin-bottom: 20px;
}




/* --------  LightBox  -------- */
.lb-container {
  margin-top: 200px;
}

.lb-nav a.lb-next {
  width: 20%;
  background: url(../img/next.png) right 50% no-repeat;
}

.lb-nav a.lb-prev {
  width: 20%;
  background: url(../img/prev.png) left 50% no-repeat;
}

.lb-close {
  position: absolute;
  top: 36%;
  right: 2%;
}


.lb-data .lb-caption {
  font-size: 0.85em;
  font-weight: 600;
}

.lb-data .lb-number {
  font-size: 0.75em;
  font-weight: 500;
}












/* _________________________________________________
// -------------     MEDIA QUERIES     -------------
// ------------------------------------------------- */


@media all and (min-width: 375px) {
  /* ----- LightBox ----- */
  .lb-close {
    top: 34%;
  }
}











































@media all and (min-width: 375px) {


  /* ----- Search Bar ----- */
  #search-bar {
    /* width: 80%;
    display: block;
    margin: 30px auto 0 auto;
    padding: 6px 8px 8px 8px;
    border: 2px solid #d3d3d3;
    border-radius: 6px;
    font-size: 0.95em;
    font-weight: 400;
    line-height: 1;
    color: #808080; */
  }

  /* ----- Image Gallery ----- */
  #wrapper {
    /* width: 80%;
    margin: 30px auto 0 auto;
    text-align: center;
    margin-bottom: 40px; */
  }

  .img-item {
    /* display: inline-block;
    line-height: 0;
    margin-bottom: 20px; */
  }




  /* ----- LightBox ----- */
  .lb-container {
    /* margin-top: 200px; */
  }

  .lb-nav a.lb-next {
    /* width: 20%;
    background: url(../img/next.png) right 50% no-repeat; */
  }

  .lb-nav a.lb-prev {
    /* width: 20%;
    background: url(../img/prev.png) left 50% no-repeat; */
  }

  .lb-close {
    /* position: absolute;
    top: 34%;
    right: 2%; */
  }


  .lb-data .lb-caption {
    /* font-size: 0.85em;
    font-weight: 600; */
  }

  .lb-data .lb-number {
    /* font-size: 0.75em;
    font-weight: 500; */
  }


}